* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --red: #ec5242;
  --grey: #272a31;
  --light: #d3d3d3;
}

.topnav {
  display: none;
}

.logo {
  display: none;
}

.menu-mobile {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-image: url(imgs/bg_img.jpg);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.close {
  position: absolute;
  cursor: pointer;
  top: 40px;
  left: 310px;
}

.mobile-menu a {
  color: black;
  font-size: 30px;
}

.menu {
  display: none;
}

.open {
  font-size: 40px;
  padding: 30px;
}

.body {
  background-image: url(imgs/bg_img.jpg);
}

.main-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
}

.heading {
  padding-top: 30px;
  font-size: 28px;
  color: var(--red);
}

.title {
  -webkit-background-clip: text;
  background-image: url(./imgs/heading-img.jfif);
  font-size: 40px;
  color: transparent;
  padding-top: 10px;
}

.about-title {
  -webkit-background-clip: text;
  background-image: url(./imgs/heading-img.jfif);
  font-size: 40px;
  color: transparent;
  padding-top: 73px;
}

.information {
  font-size: 16px;
  width: 100%;
  margin-top: 25px;
  padding: 20px;
  border: #fff solid 2px;
}

.date {
  margin-top: 30px;
}

.date-info {
  color: var(--grey);
  font-size: 26px;
}

.vanue {
  margin-top: 5px;
  color: var(--grey);
  font-size: 16px;
}

/* -----------------------main program-------------- */

.program-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-image: url(./imgs/mainprogram-bg.png);
  background-color: var(--grey);
}

.main-program {
  color: #fff;
}

.line {
  background: var(--red);
  width: 90px;
  height: 1px;
  margin: 10px;
}

.programs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.programs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  color: #fff;
}

.program-icon {
  font-size: 30px;
  margin-right: 10px;
}

h3 {
  color: var(--red);
}

.program-title {
  width: 80%;
}

.program-info {
  font-size: 12px;
  width: 80%;
}

.button-join {
  color: #fff;
  background: var(--red);
  padding: 15px 80px;
}

.button-desktop {
  display: none;
}

/* -------------------------- */

/* ------------------------about page---------------- */

.about-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.about-information {
  font-size: 16px;
  margin-top: 50px;
  padding: 30px 5px;
  background: #fff;
  border: var(--light) solid 1px;
}

.about-info-mobile {
  display: block;
}

.about-info-desktop {
  display: none;
}

.contact-info {
  font-size: 15px;
  color: var(--grey);
  margin-top: 15px;
}

.email {
  text-decoration: underline;
  font-size: 15px;
  color: var(--grey);
  margin-top: 5px;
}

/* --------------------------speakers-------------------- */

.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.speakers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.speakers-sample {
  display: flex;
}

.speakers-images {
  width: 150px;
  height: 150px;
}

.short-line {
  width: 40px;
  height: 1px;
  background: var(--grey);
  margin-top: 10px;
  margin-bottom: 10px;
}

.speakers-info {
  width: 100%;
  float: right;
}

.speakers-name {
  color: var(--grey);
}

.speakers-company {
  color: var(--red);
}

.speakers-subject {
  font-size: 14px;
}

/* -------------------------- */

/* ------------------------about logo info---------------- */

.long-line {
  width: 100%;
  height: 1px;
  color: var(--light);
}

.logo-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #fff;
  padding-top: 30px;
}

.about-headings {
  font-size: 22px;
  color: var(--grey);
}

.about-para {
  text-align: center;
  color: var(--grey);
  font-size: 16px;
  padding: 0 20px 40px 20px;
}

.logo-border {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--light) solid 1px;
  width: 90%;
  margin-bottom: 40px;
}

.logo2 {
  width: 100px;
  height: 100px;
}

/* ----------------------graduate students------------- */

.alumni {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.students-image {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.image {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
}

.image-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: rgba(300, 100, 50, 0.7);
}

h4 {
  color: #fff;
  font-size: 24px;
}

.image-p {
  color: #fff;
  font-size: 16px;
}

/* ----------------------partners------------- */

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: var(--grey);
}

.partner {
  color: #fff;
  font-size: 22px;
}

.partner-home {
  display: none;
}

.patner-logo {
  color: var(--light);
  font-size: 50px;
  padding: 10px;
}

.patner-logo:hover {
  color: var(--red);
}

/* ----------------------footer------------- */

.footer {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 200px;
}

.footer-logo {
  width: 100px;
  height: 100px;
}

.copy-right {
  color: var(--grey);
  font-size: 16px;
  padding-left: 30px;
}

.fa-heart {
  color: var(--red);
}

/* footer display none for home mobile version */

.footer-home {
  display: none;
}

/* ----------------------desktop version---------------- */

@media screen and (min-width: 768px) {
  nav {
    width: 100%;
    height: 15vh;
    display: flex;
  }

  .topnav {
    display: flex;
    background: var(--grey);
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
  }

  .social-icon {
    color: #fff;
    padding: 5px;
  }

  .topnav-list {
    color: #fff;
    margin-right: 100px;
  }

  .top-links {
    display: inline-block;
    padding: 10px;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #fff;
    width: 100%;
    height: 10vh;
    margin-top: 5vh;
    padding-left: 180px;
    padding-right: 200px;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-link {
    display: inline-block;
    padding-right: 50px;
  }

  .menu-link a {
    color: #000;
  }

  .menu-link a:hover {
    color: var(--red);
  }

  .open {
    display: none;
  }

  .logo {
    display: block;
    width: 100px;
    height: 69px;
  }

  .button {
    color: var(--red);
    border: var(--red) solid 5px;
    background: #fff;
    padding: 10px;
    transition: 0.5s;
  }

  .button:hover {
    color: #fff;
    background: var(--red);
  }

  .main-text {
    padding-right: 180px;
    padding-left: 200px;
    padding-bottom: 200px;
  }

  .heading {
    padding-top: 80px;
    font-size: 35px;
  }

  .title {
    font-size: 70px;
  }

  .information {
    width: 50%;
  }

  .date-info {
    font-size: 36px;
  }

  .vanue {
    font-size: 18px;
  }

  /* -----------------------main program-------------- */

  .program-container {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .programs-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  .line {
    margin-bottom: 40px;
  }

  .programs {
    flex-direction: column;
    padding: 60px 10px;
    width: 220px;
    gap: 15px;
  }

  .programs:hover {
    border: #fff solid 2px;
  }

  .program-title {
    text-align: center;
  }

  .program-info {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }

  .button-join {
    display: none;
  }

  .button-desktop {
    display: block;
    margin-top: 50px;
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
  }

  .button-desktop:hover {
    color: var(--red);
  }

  /* ----------------------------speakers-------------- */

  .speakers-container {
    padding-left: 200px;
    padding-right: 200px;
    display: grid;
    grid-template-columns: auto auto;
  }

  /* ------------------------------partners-------------- */

  .partners {
    display: flex;
  }

  /* ------------------------------partners-------------- */

  .footer {
    display: flex;
  }

  /* ------------------------ */

  /* ------------------------about page-------------- */

  .about-body {
    padding-left: 200px;
    padding-right: 200px;
  }

  .about-info-mobile {
    display: none;
  }

  .about-info-desktop {
    display: block;
  }

  .contact-info {
    margin-top: 70px;
  }

  .email {
    margin-bottom: 50px;
  }

  .logo-border {
    width: 30%;
  }

  .students-image {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .partner-about {
    display: none;
  }

  .footer-about {
    background: var(--grey);
  }

  .footer-about p {
    color: var(--light);
  }

  .about-copyright {
    padding-left: 24px;
  }
}
