@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

:root {
    --black: #272a31;
    --white: #fff;
    --red: #ec5242;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.navbar {
    background-color: var(--black);
}

.nav-list {
    display: flex;
}

.navbar .nav-list {
    justify-content: flex-end;
    padding: 1% 10%;
    gap: 35px;
}

.nav-link {
    color: var(--white);
}

.sub-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub-navbar .nav-list {
    gap: 40px;
    font-size: 18px;
}

.logo img {
    width: 200px;
    height: 70px;
}

.sub-navbar .nav-link {
    color: black;
}

.nav-btn {
    color: var(--red);
    border: 4px solid var(--red);
}

.close-icon {
    display: none;
}

.main-section {
    background-image: url(imgs/bg_img.jpg);
    height: 87vh;
}

.main-container {
    padding-left: 4%;
    padding-top: 8%;
}

.menu-icon {
    display: none;
}

.preheading {
    color: var(--red);
    font-size: 30px;
    font-weight: normal;
}

.heading {
    color: transparent;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(imgs/heading-img.jfif);
    font-size: 60px;
    letter-spacing: 5px;
}

.detail {
    background-color: var(--white);
    margin-block: 2%;
    padding: 1%;
    width: 70%;
    line-height: 25px;
}

.date {
    color: var(--black);
    font-size: 28px;
}

.program-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: url(./imgs/mainprogram-bg.png);
    background-color: var(--black);
    color: var(--white);
    padding: 2%;
}

.headline {
    padding-top: 40px;
}

.underline {
    width: 3%;
    border-color: var(--red);
    margin-top: 1px;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff1;
    padding: 2%;
    height: 215px;
    width: 180px;
}

.program-icon {
    font-size: 2em;
}

.program-title {
    padding: 1%;
    color: var(--red);
    font-size: 25px;
}

.program-info {
    font-size: 14px;
    padding: 2%;
}

.program-container {
    gap: 8px;
    padding-block: 5%;
    display: flex;
    flex-direction: row;
}

.program:hover {
    border: var(--white) solid 2px;
}

.more-program {
    color: var(--white);
    font-size: 18px;
    text-decoration: underline;
}

.join-btn {
    display: none;
}
.more-program:hover {
    color: var(--red);
}